/*Начало*/
#this-page {
  margin: auto;
  width: 500px;
  padding-top: 30px;
}

.header {
	margin: 0
}

/*Заголовок*/
.main-header {
    font-weight: bold;
    font-family: Arial;
    size: 36px;
    color: black;
}

.block {
	padding-top: 20px;
	border-bottom: 1px solid gray;
	padding-bottom: 20px;
}

.picture {
	width: 200px;
	height: 200px;
    padding: 0px;
	border: 2px solid silver;
	margin: auto;
}

/*О себе*/
 .text-about {
 	font-size: 14px;
 	color: slategray;
	font-family: Arial;
	font-weight: lighter;
 }

/*Хочу учить фронтенд*/
 .want-learning {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
 }

 .action {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
	}

	/*Мой контактный телефон*/
 .title-ph, .title-vk, .fidbeak {
	font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
	font-size: 18px;
}
  
 .phone, .text-futer {
	 font-size: 14px;
	 font-family: Arial, Helvetica, sans-serif;
     font-weight: normal;
 }

 a {
	 color: blue;
	 padding-top: 30px;
	 padding-left: 35px;
	 font-family: Arial
 }

 .phone {
	 font-family: Arial;
	 padding-left: 35px;
 }

.title-vk  {
	padding-bottom: 15px;
	}

.text-futer {
	padding-left: 35px;

}
